<div id="panel-exln" class="pmmi-panel">
  <header class="navbar navbar-default container" id="panel-header" role="banner">
    <div class="navbar-header">
      <div class="logo">
        {{ content.header_logo }}
      </div>
      <div class="header-region">
        <div class="microsite-info">
          {{ content.header_microsite_info }}
        </div>
        <div class="main-nav">
          {{ content.header_main_nav }}
        </div>
      </div>
    </div>
  </header>
  <div class="main-container container" role="main">
    <div class="row">
      <div class="col-sm-12" role="heading">
        {{ content.topbar }}
      </div>
      <section>
        {{ content.main }}
      </section>
    </div>
  </div>
  <footer class="footer" role="contentinfo">
    <div class="footer-inner container">
      {{ content.footer }}
    </div>
  </footer>
</div>
