<div class="block-container clearfix">
  <div class="col-sm-12">
    {{ field_render([content.head, 'title', 'h2']) }}
  </div>
  <div class="rows">
    <div class="row-1">
      <div class="col col-1 col-sm-4">
        {{ field_render([content.block_1, 'block-1']) }}
      </div>
      <div class="col col-2 col-sm-4">
        {{ field_render([content.block_2, 'block-2']) }}
      </div>
      <div class="col col-3 col-sm-4">
        {{ field_render([content.block_3, 'block-3']) }}
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    {{ field_render([content.button, 'button']) }}
  </div>
</div>
