<div class="block-event-ribbon">

  {{ field_render([content.dates, 'date']) }}

  {{ field_render([content.head, 'title', 'h2']) }}

  {{ field_render([content.location, 'location']) }}

  {{ field_render([content.department, 'department']) }}

  {{ field_render([content.members_only, 'members-only']) }}

  {{ field_render([content.button, 'link']) }}

</div>
