<div class="block-text">

  {{ field_render([content.field_head, 'title', 'h2']) }}

  {{ field_render([content.body, 'block-body']) }}

  {{ field_render([content.field_image, 'image']) }}

  {{ field_render([content.field_button, 'button']) }}

  {{ field_render([content.field_link, 'link']) }}

</div>
