<div{{ attributes.addClass('video-gallery__slider-item') }}>

  <div class="video-gallery__slider-container">

    <div class="video-gallery__slider-video">
      <a href="{{ content.video.video_url }}" data-lity class="video-gallery__slider-link">
        <img src="{{ content.video.image_url }}" class="video-gallery__slider-image">
      </a>
    </div>

    {{ field_render([content.video_title, 'video-gallery__slider-title']) }}

    {{ field_render([content.video_description, 'video-gallery__slider-description']) }}
  </div>

</div>
