{{ attach_library('pmmi/jsor.lity') }}
{{ attach_library('slick/slick') }}
{{ attach_library('slick/slick.theme') }}

{% set classes = ['block-loyout video-gallery video-gallery--slider'] %}

<div{{ content['#attrs'].addClass(classes) }}>

  {{ field_render([content.title, 'video-gallery__title']) }}

  {{ field_render([content.description, 'video-gallery__description']) }}

  <div class="video-gallery__slider-wrapper">
    {{ field_render([content.gallery_items, 'video-gallery__slider']) }}
    <div class="video-gallery__slider-navigation">
      <div class="video-gallery__slider-counter"></div>
    </div>
  </div>
</div>
