<div{{ attributes.addClass('video-gallery__expanded-item') }}>

  <a href="#" class="video-gallery__expanded-link" data-video-url="{{ content.video.video_url|e }}" data-image-url="{{ content.video.image_url|e }}">
    {{ content.video_title }}
  </a>

  {{ field_render([content.video_description, 'video-gallery__expanded-description']) }}

</div>
