<div class="article">
  <div class="img-header">
    {{ content.field_image_header }}
  </div>
  <h2 class="node-title">
    {{ content.title }}
  </h2>

  {% set release_rendered %}
    {{ content.field_immediate_release }}
  {% endset %}
  {% if release_rendered|trim is not empty %}
    <div class="article-release">
      {{ release_rendered }}
    </div>
  {% endif %}

  {% set body_text_rendered %}
    {{ content.body }}
  {% endset %}
  {% if body_text_rendered|trim is not empty %}
    <div class="node-body">
      {{ body_text_rendered }}
    </div>
  {% endif %}

  {% set author_name_rendered %}
    {{ content.field_author }}
  {% endset %}

  {% if author_name_rendered|trim is not empty %}
    <div class="node-author">
      {{ author_name_rendered }}
    </div>
  {% endif %}

  {% set author_title_rendered %}
    {{ content.field_author_title }}
  {% endset %}

  {% if author_title_rendered|trim is not empty %}
    <div class="node-author-title">
      {{ author_title_rendered }}
    </div>
  {% endif %}

  {% set author_phone_rendered %}
    {{ content.field_phone }}
  {% endset %}

  {% if author_phone_rendered|trim is not empty %}
    <div class="node-author-phone">
      {{ author_phone_rendered }}
    </div>
  {% endif %}

  {% set author_email_rendered %}
    {{ content.field_email }}
  {% endset %}

  {% if author_email_rendered|trim is not empty %}
    <div class="node-author-email">
      {{ author_email_rendered }}
    </div>
  {% endif %}
</div>
