<div class="video-node">
  <div class="top-banner clearfix">
    {{ field_render([content.image_header, 'img-header']) }}
  </div>

  <div class="container">

    {% set left_block = field_render([content.left_block, 'content-left col-sm-3']) %}

    {{ left_block|raw }}

    {% set classes = left_block ? 'content-right col-sm-9' : 'content-full' %}

    <div class="{{ classes }}">

      <h2 class="node-title">
        {{ content.title }}
      </h2>

      {{ field_render([content.video, 'video']) }}

      {{ field_render([content.date, 'date']) }}

      {{ field_render([content.body, 'node-body']) }}

      {{ field_render([content.featured_speaker, 'featured-speaker']) }}

      {{ field_render([content.view_region, 'videos-view']) }}

    </div>
  </div>
</div>
